.section {
    width: 800px;

}


.header_tools {
    display: flex;
    margin: -90px 0 0 1000px;
}


.header_link {
    font-weight: 700;
}




/* logotype */

.logotype_main {
    margin: 20px 0 0 200px;
}

.header_logo {
    margin: 0 600px 0 200px;
}




/* settings buttons */

.link_btn {
    border: none;
    cursor: pointer;
    background-color: rgb(0, 183, 255);
    width: 120px;
    height: 50px;
    color: #fff;
    border-radius: 9rem/9rem;
    transition: background-color .2s linear;
    margin: 20px 0 0 0;
}

.link_btn:hover {
    background-color: rgb(86, 207, 255);
}

.btn {
    margin: 20px 0 0 30px;
    border: none;
    background-color: #fff;
    transition: background-color .2s linear;
}

.btn:hover {
    color: #000;
    
}



.btn_sign_in {
    cursor: pointer;
    width: 50px;
    height: 50px;
}